.btn {
  color: $white;
  padding: 0.8rem 1.6rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &--black {
    background-color: $black;
  }

  &--round {
    background-color: $color-primary;
    border-radius: 4px;
  }

  &--outline {
    border: 2px solid $black;
    color: $black;
  }
}