// Aligning Elements
.text-center {
  text-align: center;
}

// Border Styles
.border-bottom {
  border-bottom: 1px solid $border-color;
}

// Background Image
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-primary {
  background-color: #ffc0d0;
  ;
}

.list-bare {
  padding: 0;
  list-style: none;
}

// Width and Height
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

// Section Padding
.section-padding {
  padding: 4rem 0;
}

// Padding and Margin
.px-1 {
  padding: 0 1.5rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-1 {
  padding: 2rem 0;
}

.py-2 {
  padding: 4rem 0;
}

// Flex Grid
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;

  @media screen and (min-width: 480px) {
    flex: 1;
  }
}

// Flex Positioning
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}