.nav {
  background-color: $white;
  padding: 1.5rem;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    text-transform: uppercase;
    color: $black;
    margin-right: 1.5rem;
  }

  &__item:last-child>a {
    margin-right: 0;
  }
}